body {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    margin: 0;
}

#weatherInput {
    margin-top: 20px;
}

#cityInput {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}

#cityInput:active,
#cityInput:focus {
    box-shadow: 0px 0px 5px;
    outline: none;
    border: 2px solid black;
}

#myButton {
    background-color: hsl(120, 80%, 80%);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

#myButton:hover {
    background-color: hsl(120, 80%, 85%);
}

.card {
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(180deg, hsl(210, 89%, 71%), rgb(255, 255, 135));
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 4px 4px 5px hsl(0, 1%, 50%);
    overflow: hidden;
}

#card:hover {
    box-shadow: 2px 2px 5px hsl(0, 1%, 50%);
}

.cityDisplay {
    font-size: 3.0em;
}

.temperatureDisplay {
    font-weight: bold;
    font-size: 3.0em;
}

.humidityDisplay {
    font-size: 1.5em;
}

.descriptionDisplay {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

.emojiDisplay {
    margin: 0;
    font-size: 5em;
    line-height: 1;
}

.errorDisplay {
    font-size: 1.5em;
}